NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=servicehub
DATABASE_PASSWORD=servicehub
DATABASE_NAME=servicehub
DATABASE_SSL=false
DATABASE_MIGRATIONS_RUN=false

REDIS_HOST=localhost
REDIS_PORT=6379
